body {
    width: 1093px;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

section {
    margin: 30px
}

.menu {
    display: flex;
}

.logo img {
    width: 206px;
    height: 102px;
    margin: 26px 90px 26px 90px;
}

.barre_menu {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-family: montserrat;
    font-size: 16px;
    font-style: normal;
}

.barre_menu {
    display: flex;
    width: 100%;
    flex-direction: column;
}

li a {
    color: black;
    text-decoration: none;
}

.photo_accueil {
    width: 100%;
}

.food_app {
    position: relative;
}

.titrefood {
    position: absolute;
    width: 100%;
    top: 38px;
    text-align: center;
    color: white;
    font-family: poppins;
    font-size: 32px;
}

.barre_menu ul {
    list-style: none;
    font-size: 16px;
    font-style: normal;
    display: flex;
    justify-content: space-around;
    margin-block: auto;
}

#home {
    color: orangered;
}

.grand_bloc {
    display: flex;
    justify-content: space-between;
}

.infobloc1 {
    display: block;
}

.infobloc2 {
    display: block;
    margin-right: 200px;
}

h1 {
    font-size: 27px;
}

input {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 8px 12px 8px 12px;
    width: 220px;
}

::placeholder {
    color: #BFBFBF;
}

.upload {
    background-color: orangered;
    color: white;
    border-radius: 1px;
    width: 177px;
    height: 41px;
    font-size: 21px;
    margin-top: 20px;
    margin-left: 30px;
}

.button1 {
    display: flex;
    justify-content: space-between;
}

.choose {
    margin-right: 753px;
    margin-top: 15px;
}

.re-captcha {
    margin-left: 31px;
    margin-top: 35px;
}

select {
    width: 748px;
    height: 40px;
}

.re-captcha {
    margin-bottom: 113px;
    margin-top: 63px;
    margin-bottom: 100px;
}

.objet {
    margin-bottom: 30px;
}

textarea {
    margin-top: 20px;
    width: 739px;
    height: 200px;
}

textarea::placeholder {
    font-size: 20px;
}

.mappe {
    width: 746px;
    margin-top: 30px;
}

.Envoyer {
    background-color: orangered;
    color: white;
    border-radius: 20px;
    width: 177px;
    height: 52px;
    font-size: 23px;
    float: right;
    font-weight: 700;
    margin-bottom: 140px;
    margin-top: 110px;
}

.file {
    position: absolute;
    opacity: 0;
    height: 41px;
}

.haumburger {
    margin: 0;
    font-size: 26px;
    line-height: 55px;
    display: none;
    width: 26px;
}

#toggle {
    display: none;
}

@media (max-width: 1200px) {
    body {
        width: fit-content;
    }
    .obmes {
        margin: 0 30px;
    }
    .choose {
        margin-right: 673px;
        margin-top: 15px;
    }
    .Envoyer {
        margin-right: 50px;
    }
}

@media (max-width: 991px) {
    body {
        width: 768px;
    }
    .barre_menu ul {
        display: none;
    }
    .haumburger {
        display: block;
        cursor: pointer;
        float: right;
    }
    #toggle:checked~ul {
        display: block;
        float: right;
    }
    .barre_menu {
        display: flow-root;
        flex-direction: row;
        margin: 30px;
    }
    li {
        padding: 20px;
    }
    .logo img {
        width: 133px;
        height: 75px;
        margin: 26px 20px 26px 20px;
    }
    .choose {
        margin-right: 427px;
    }
    select {
        width: 100%;
    }
    textarea {
        width: 100%;
    }
    .mappe {
        width: 100%;
    }
    h4 {
        font-size: 18px;
    }
    h2 {
        font-size: 20px;
    }
    h1 {
        font-size: 23px;
    }
}

@media (max-width: 767px) {
    .grand_bloc {
        display: block;
    }
    input {
        width: 97%;
    }
    .infobloc2 {
        margin-right: 0px;
    }
}